html {
	font-size: 1em;
}
body {
  	background-color: #0447F1;
	background: linear-gradient(135deg, #0447F1, 50%, #54EAF1);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: white;
	margin: 0;
	min-height: 1000px;
}
div {
	box-sizing: border-box;
}
p {
	margin-bottom: 1.3em;
}
h1, h2, h3, h4 {
	font-weight: inherit;
	line-height: 1.2;
}
h1 {
	font-size: 2.074em;
}
h2 {
	font-size: 1.728em;
}
h3 {
	font-size: 1.44em;
}
h4 {
	font-size: 1.2em;
}
small, .font_small {
	font-size: 0.833em;
}
a, a:visited {
	text-decoration: none;
	color: #FFB558;
}
a:hover {
	color: #F755BB;
}
/* INTRO */
.intro {
	margin: 0 auto;
	width: 70%;
	text-align: center;
}
/* TEMP MESSAGE */
.temp-message {
	text-align: center;
	margin: 0 auto;
	width: 70%;
}
/* QUOTE */
.quote-wrapper {
	padding: 1em;
	margin: 0 auto;
	width: 30%;
	background: #fafafa;
	background: linear-gradient(135deg, #fafafa, 50%, #efefef);
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	color: #212121;
}
#quote-author {
	padding-left: 1em;
}
/* MOBILE */
@media only screen and (max-width: 800px) {
	body {
		min-height: 600px;
	}
	.intro {
		width: 95%;
	}
	.temp-message {
		width: 95%;
	}
	.quote-wrapper {
		width: 95%;
	}
}