body {
  background-color: #b3e5fc;
  font-family: 'Lato', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  margin: 0; }

.top-nav {
  padding: 20px;
  background-color: #0447F1;
  background: linear-gradient(135deg, #0447F1, 50%, #C47DC1);
  margin-bottom: 20px;
  width: 100vw;
  position: relative;
  left: -15px; }

.top-nav a, .top-nav a:visited {
  text-decoration: none;
  color: #fafafa; }

.top-nav a:hover {
  color: #ff3c19; }

h1 {
  margin-top: 0.3em; }

p {
  margin-bottom: 1.3em; }

small, .font_small {
  font-size: 0.707em; }

div .main-buttons {
  margin-bottom: 1em; }

div .main-button-group {
  margin: 10px; }

div .sub-top-row, div .sub-bottom-row {
  margin: 10px 0 0 10px; }

div h4 {
  display: inline; }

div .grid-size-controls {
  margin: 1em 0; }

table {
  background-color: #fafafa;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  table td.smallCell {
    width: 2%;
    padding-top: 0px;
    padding-bottom: 2%; }
  table td.mediumCell {
    width: 1.25%;
    padding-top: 0px;
    padding-bottom: 1.25%; }
  table td.largeCell {
    width: 1%;
    padding-top: 0px;
    padding-bottom: 1%; }
  table td.alive {
    background-color: #d32f2f; }

.btn-secondary.active {
  color: #292b2c;
  background-color: #ff8a65;
  background-image: none;
  border-color: #adadad; }

.footer {
  margin: 20px 0 20px 0; }
